css *,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.quote-container {
  margin-bottom: 20px;
}

.text-display {
  font-size: 23px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  font-size: 25px;
  padding: 50px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}

.feedback {
  font-size: 16px;
  color: #333;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.start-btn {
  font-size: 16px;
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.timer-container {
  margin-top: 20px;
}

span {
  font-size: 25px;
}
